body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.bg-custom-sidebar {
    background-color: #e30505 !important;
    color: #fff !important;
    max-width: 300px !important;
}

.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-container-graph{
    display: flex;
    flex-direction: column;
}

.chart-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-bar {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.top-bar .user-info {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.top-bar .menu-toggle {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.top-bar .menu-toggle ion-icon {
    vertical-align: middle;
}

.leito{
    color: #e30505;
}

.alta{
    color: #063dc7;
}

.footer {
    background-color: #f5f5f5;
}

.sidebar {
    background-color: #e30505;
    color: white;
    box-sizing: border-box;
}

.sidebar.open {
    transform: translateX(-250px);
    width: 0;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 24px;
}

.sidebar-header p {
    margin: 5px 0 20px;
    font-size: 14px;
}

.sidebar .user-info {
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar-nav ul li ul {
    margin-top: 10px;
    padding-left: 20px;
    display: none;
}

.chevron-toggle {
    float: right;
}

.sidebar-nav .sub-nav {
    margin: 20px 10px 20px 30px;
    font-size: small;
    font-weight: normal;
}

.rotated {
    transform: rotate(180deg);
}

.sub-nav {
    display: none;
    padding-left: 20px;
}

.sub-nav.open {
    display: block;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

.sidebar.open + .main-content {
    margin-left: 0;
}

.container-cad {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

ul.form {
    list-style: none;
    padding-left: 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

.main-content-login {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
}

.btn-custom {
    background-color: #e30505;
}

.bg-custom {
    background-color: #f5f5f5;
}

.tx-custom {
    color: #333;
}

.tx-custom:hover {
    color: #606060;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .input-group label, .input-group input, .signup-link {
        font-size: 12px;
    }

}



@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 10px;
    }

    .sidebar.open {
        transform: translateY(-100%);
    }
}

@media (max-width: 480px) {
    .sidebar-header h2 {
        font-size: 20px;
    }

    .user-info span {
        font-size: 14px;
    }

    .main-content {
        padding: 5px;
    }

    .sidebar.open {
        transform: translateY(-100%);
    }
}
